{% include "header.html" %}

<h1 class="alert alert-primary text-center font-weight-bold mt-5" role="alert">ABOUT US</h1>
<div class="container mt-5" id="Contact_us">
    <p class="text-center alert alert-secondary font-weight-bold mb-5">Welcome to our flower shop, where nature’s
        beauty comes
        alive! Our mission
        is to
        bring joy to your special moments with the freshest and most vibrant blooms.</p>

    <section class="mb-4">
        <h5>Founded in 2018, we started as a small local shop and have blossomed into a beloved destination for
            flower lovers. Our passion for flowers and commitment to quality have allowed us to grow while staying true to our roots.</>
    </section>

    <section class="mb-4">
        <h2 class="text-danger">Our Mission</h2>
        <p>We believe in the power of flowers to brighten up lives and create lasting memories. Our mission is to provide exceptional quality and service, ensuring that each bouquet reflects the love and care we put into our work.</p>
    </section>

    <section>
        <h2 class="text-danger">Meet the Team</h2>
        <div class="row">
            <div class="col-md-4 text-center mb-4">
                <img src="https://via.placeholder.com/150" alt="Team Member" class="rounded-circle mb-2">
                <h3>Shreeshail</h3>
                <p>Head Florist</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <img src="https://via.placeholder.com/150" alt="Team Member" class="rounded-circle mb-2">
                <h3>Shivanand</h3>
                <p>Customer Relations</p>
            </div>
            <div class="col-md-4 text-center mb-4">
                <img src="https://via.placeholder.com/150" alt="Team Member" class="rounded-circle mb-2">
                <h3>Shreeshail</h3>
                <p>Marketing Specialist</p>
            </div>
        </div>
    </section>
</div>

{% include "footer.html" %}
