<section class="mt-5 pt-5 Footer bg-info border-top">
    <div class="flex-container">
        <div class="row">
            <div class="col-md-6 col-12 text-center footer-left">

            <div>
            <h4>Contact us</h4>
            <ul>
                <li><b>Address : </b>abc 1st floor 2nd main badravati</li>
                <li><b>Phone : </b>6766535535</li>
                <li><b>Hours : </b>6:30am-10pm mon-sun</li>
            </ul>

            </div>
        </div>

        <div class="col-md-6 col-12 my-5 text-center footer-right">
            <b>follow us</b>
            <div class="icons">
                <i class='bx bxl-facebook-circle'></i>
                <i class='bx bxl-twitter'></i>
                <i class='bx bxl-youtube'></i>
                <i class='bx bxl-linkedin'></i>
            </div>
        </div>

        </div>
    </div>
</section>
<!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>

